@use "sass:color";
@use "../semantics/colors" as *;
@use "../semantics/typography" as *;
@use "../semantics/spacing" as *;
@use "../semantics/elevation" as *;

.button {
  background-color: semantic-color(fill, brand, strong);
  color: semantic-color(text, inverse, strong);
  font-family: $semantic-font-primary;
  font-size: $semantic-font-size-md;
  padding: $semantic-spacing-medium;
  border: none;
  border-radius: $semantic-spacing-small;
  box-shadow: $semantic-shadow-small;
  cursor: pointer;

  &:hover {
    background-color: color-mix(
      in srgb,
      semantic-color(fill, brand, strong) 92%,
      semantic-color(fill, black)
    );
  }

  &:active {
    background-color: color-mix(
      in srgb,
      semantic-color(fill, brand, strong) 86%,
      semantic-color(fill, black)
    );
  }

  &.outline {
    background: transparent;
    color: semantic-color(fill, inverse, strong);
    border: 1px solid semantic-color(fill, brand, strong);

    &:hover {
      background-color: color-mix(
        in srgb,
        semantic-color(fill, inverse, strong) 92%,
        semantic-color(fill, white)
      );
    }

    &:active {
      background-color: color-mix(
        in srgb,
        semantic-color(fill, inverse, strong) 86%,
        semantic-color(fill, white)
      );
    }
  }

  &.secondary {
    background-color: semantic-color(fill, strong);

    &:hover {
      background-color: color-mix(
        in srgb,
        semantic-color(fill, strong) 92%,
        semantic-color(fill, white)
      );
    }

    &:active {
      background-color: color-mix(
        in srgb,
        semantic-color(fill, strong) 86%,
        semantic-color(fill, white)
      );
    }
  }

  &.tertiary {
    background-color: semantic-color(fill, error, strong);
    border: 1px solid semantic-color(fill, brand, strong);

    &:hover {
      background-color: color-mix(
        in srgb,
        semantic-color(fill, error, strong) 92%,
        semantic-color(fill, black)
      );
    }

    &:active {
      background-color: color-mix(
        in srgb,
        semantic-color(fill, error, strong) 86%,
        semantic-color(fill, black)
      );
    }
  }

  &.disabled {
    background-color: semantic-color(fill, disabled);
    cursor: not-allowed;
    pointer-events: none;
  }
}
