@use "../semantics/colors" as semanticsColors;
@use "../semantics/typography" as semanticsTypo;
@use "../semantics/spacing" as semanticsSpacing;
@use "../semantics/elevation" as semanticsElevation;

.sample-button {
  background-color: semanticsColors.$semantic-primary;
  color: semanticsColors.$semantic-text-on-primary;
  font-family: semanticsTypo.$semantic-font-primary;
  font-size: semanticsTypo.$semantic-font-size-md;
  padding: semanticsSpacing.$semantic-spacing-medium;
  border: none;
  border-radius: 8px;
  box-shadow: semanticsElevation.$semantic-shadow-small;
  cursor: pointer;
  transition: all 0.3s ease;

//   @include button-state($base-color: semanticsColors.$semantic-primary);


  &.outline {
    background-color: transparent;
    color: semanticsColors.$semantic-primary;
    border: 1px solid semanticsColors.$semantic-primary;
    // @include outline-button-state($base-color: $semantic-primary);

    &:hover, &:active {
      color: semanticsColors.$semantic-text-on-primary;
    }
  }

  &.disabled {
    background-color: semanticsColors.$semantic-disabled;
    color: semanticsColors.$semantic-text-disabled;
    cursor: not-allowed;
    pointer-events: none;
  }
}
