@import "../variables.scss";

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-background: var(--color-background);
$color-text: var(--color-text);
$color-border: var(--color-border);
