@import "../primitives/_colors.scss";

$semantic-primary: $color-primary;
$semantic-secondary: $color-secondary;
$semantic-background: $color-background;
$semantic-text: $color-text;
$semantic-border: $color-border;
