@use "../primitives/colors" as colors;

$semantic-background: colors.$color-background;
$semantic-text: colors.$color-text;
$semantic-primary: colors.$color-primary;
$semantic-secondary: colors.$color-secondary;
$semantic-border: colors.$color-border;
