$colors: (
  grey: (
    1000: var(--grey-1000),
    700: var(--grey-700),
    500: var(--grey-500),
    100: var(--grey-100),
    50: var(--grey-50),
    25: var(--grey-25),
    solid: (
      1000: var(--grey-solid-1000),
      900: var(--grey-solid-900),
      850: var(--grey-solid-850),
      800: var(--grey-solid-800),
      50: var(--grey-solid-50),
      0: var(--grey-solid-0),
    ),
  ),
  brand: (
    1000: var(--brand-1000),
    800: var(--brand-800),
    200: var(--brand-200),
    50: var(--brand-50),
  ),
  green: (
    1000: var(--green-1000),
    800: var(--green-800),
    200: var(--green-200),
    50: var(--green-50),
  ),
  red: (
    1000: var(--red-1000),
    800: var(--red-800),
    200: var(--red-200),
    50: var(--red-50),
  ),
  amber: (
    1000: var(--amber-1000),
    800: var(--amber-800),
    200: var(--amber-200),
    50: var(--amber-50),
  ),
  teal: (
    1000: var(--teal-1000),
    800: var(--teal-800),
    200: var(--teal-200),
    50: var(--teal-50),
  ),
  yellow: (
    solid: (
      1000: var(--yellow-solid-1000),
    ),
  ),
);



@function color($category, $shade...) {
  $value: map-get($colors, $category);
  @each $level in $shade {
    $value: map-get($value, $level);
  }
  @if $value {
    @return $value;
  } @else {
    @error "Color `#{$category}-#{$shade}` not found!";
  }
}