@use "../variables.scss";

$font-size-sm: var(--font-size-sm, 12px);
$font-size-md: var(--font-size-md, 16px);
$font-size-lg: var(--font-size-lg, 24px);

$font-primary: var(--font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif);
