@use "../primitives/elevation" as primitivesElevation;


$semantic-shadow-small: primitivesElevation.$shadow-small;
$semantic-shadow-medium: primitivesElevation.$shadow-medium;
$semantic-shadow-large: primitivesElevation.$shadow-large;
