@use "../primitives/typography.scss" as primitivesTypo;

$semantic-font-primary: primitivesTypo.$font-primary;
$semantic-font-size-sm: primitivesTypo.$font-size-sm;
$semantic-font-size-md: primitivesTypo.$font-size-md;
$semantic-font-size-lg: primitivesTypo.$font-size-lg;
