// @use "primitives/colors";
// @use "primitives/elevation";
// @use "primitives/grid";
// @use "primitives/spacing";
// @use "primitives/typography";

@use "semantics/colors";
@use "semantics/elevation";
@use "semantics/grid";
@use "semantics/spacing";
@use "semantics/typography";


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  