@use "index";

body {
  background-color: semanticsColors.$semantic-background;
  color: semanticsColors.$semantic-text;
  font-size: semanticsColors.$semantic-font-body;
}

.card {
  box-shadow: semanticsColors.$semantic-shadow-medium;
  padding: semanticsColors.$semantic-spacing-sm;
}
