@use "semantics/colors" as semanticColor;
@use "semantics/typography" as semanticsTypo;
@use "semantics/spacing" as semanticsSpacing;
@use "semantics/elevation" as semanticsElevation;
@use "semantics/grid" as semanticsGrid;

body {
  background-color: semanticColor.semantic-color(background, base);
  color: semanticColor.semantic-color(text, strong);
  font-family: semanticsTypo.$semantic-font-primary;
  transition: background-color 0.3s, color 0.3s;
}
